body{
    font-family: Arial, Helvetica, sans-serif;
}
#containerforpayments{
display: grid;
grid-template-columns: repeat(3,27%);
position: relative;
justify-content: center;
margin-top: 100px;
}#basicplan{
height: auto;
color: #7ea2c4;
text-align: center;
padding-left: 60px;
padding-right: 60px;
padding-top: 20px;
height: fit-content;
padding-bottom: 50px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}#premium{
color: #7ea2c4;
text-align: center;
padding-left: 50px;
padding-right: 50px;
padding-top: 20px;
margin-left: 50px;
margin-right: 50px;
height: auto;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
padding-bottom: 30px;
}#elite{
color: #7ea2c4;
text-align: center;
padding-left: 71px;
padding-right: 71px;
padding-top: 20px;
height: auto;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}.downloadbtn{
 height: 60px;
 width: 200px;
 font-size: 25px;
 border-radius:5px;
 color: white;
 background-color: #818a91;
 border: none;
 position: relative;
 margin-top: -10px;   
}#bigbutton{
width:40%;
height: 100px;
padding-left: 50px;
padding-right: 50px;
font-size: 30px;
margin-left: 30%;
margin-top: 100px;
background-color: #3daeee;
border-radius: 5px;
border: none;
color: white;
}#secondcontainer{
display: grid;
grid-template-columns: 27% 27% 27%;
position: relative;
justify-content: center;
margin-top: 100px;
grid-template-rows: auto;
gap: 40px 40px;
}.body1>img{
  width: 100%;
}.body1{
  text-align: center;
}
#badges{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: 100px 200px;
}#badges{
  width: 80%;
  background-color: #3daeee;
  margin: auto;
height: 350px
}#mainbadges{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows:auto;
  gap: 10px 10px ;
  justify-content:space-evenly;
  text-align: center;
}.badges>img{
  width: 50%;
  margin-top: 20px;
}#planck{
  width: 80%;
  margin-left: 10%;
  height: 500px;
}#footer{
width: 80%; 
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: auto;
margin: auto;
}.footer{
  border: 1px solid black;
  color: #818a91;
}
/* 320 to 769  */
#results{
  margin: auto;
  
}#transformation{
width: 50%;
transform: translate(75%,-500px);
margin-top: 60px;
}
#getelite{
cursor: pointer;
width: 200px;
height: 70px;
font-size: 25px;
border: none;
border-radius: 5px;
color: aliceblue;
background-color: #3daeee;
margin-top: 30px;
position: relative;
margin-left: 60px;
}#getelite:hover{
background-color: #818a91;
cursor: pointer;
}
@media all and (max-width: 1000px) { 
#containerforpayments{
 grid-template-columns: repeat(1 ,1fr); 
 grid-template-rows: auto;
 row-gap: 70px;
}#secondcontainer{
  grid-template-columns: repeat(1 ,1fr); 
  grid-template-rows: auto;
  row-gap: 50px;
}#badges{
  height: 700px;
}
#mainbadges{
  grid-template-columns: repeat(3 ,1fr); 
  grid-template-rows: 200px 200px;
margin-top: 100px;
}#footer{
width: 100%;
grid-template-columns: repeat(1,1fr);
grid-template-rows: 200px;
margin-top: -200px;
position: absolute;
left: 40%;
}.footer1>p{

  font-size: 20px;
}
}












