
body {
    padding: 0;
    margin:0;
}

*{
    list-style: none;
    font-family: 'DM Sans', sans-serif;
    }

.headfont{
font-family: 'Open Sans', sans-serif;

}

#navbarid{
    margin-bottom: 20px;
}


#midSection{
    width:70%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.left{
    width:30%;

}

.right{
    width:60%;

}

h5{
    font-size: 20px;
    color: #585f69;
    border: 1px solid #888888;
    margin: 5px 0px 8px !important;
}

.box1, .box2, .box3{
    border: 1px solid #888888;
}

.blueclr{
    color: #6699cc;
}

strong{
    font-size: 15px;
}


span {
    padding-left: 90px;
    text-align: right;
    /* margin-left: 50px; */
    /* display: flex; */
    /* justify-content: space-between; */
}

li {
    text-align:left;
    /* margin-left: 50px; */
    /* display: flex; */
    /* justify-content: space-between; */
}
