/* rahul */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    /* padding:0;
    margin:0; */
    font-family: 'DM Sans', sans-serif;
}



body {
  background-color: #f8fbfe;
    padding:0;
    margin:0;
    overflow-x: hidden;
    /* background-color: green; */

}

.sansfont{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center
}

.h1Size{
    font-size: 28px !important;
    text-align: center !important;
}


.h3Size{
    margin-bottom: 25px !important;
    margin-top: 30px !important;
}

.p1Size{
  font-size:20px;
  margin-top: 0;
  /* margin-bottom: -10px; */
}

.pSize{
    font-size:20px;
    margin-top: 0;
    margin-bottom: 50px;
}

.h4bottom{
  margin-top: -60px;
}

.slideshow_div{
/* height:400px; */
margin-bottom: 100px;
margin-top:20px;

/* overflow-y: hidden; */
}

.filter, .radioboxes{
display: flex;
justify-content: space-between;
color:#ABABAB;
font-size: 13px;
}

.radioboxes{
  /* margin:0 5px; */
  margin-top: -5px;
  width:20%;
  padding:5px;
  /* border:1px solid red; */
}

.sort_div{
/* border:1px solid red; */
width: 70%;
display: flex;
justify-content: space-between;
font-weight: bold;
font-size: 13px;
}




#midSection{
width:70%;
margin-top: 80px !important;
margin-bottom: 50px !important;
margin:auto;
padding: 0 5px;
/* border: 1px solid red; */
}

.ulheading{
color:#6699CC;
}
.liPoints{
list-style: none;
color: #ABABAB;

}

.liPoints:hover{
    /* list-style: none; */
    color: black;
    
    }

    .card{
      width: 95% ;
margin-top: 20px;
  }

  .slick-prev:before {
color: black;
}

.slick-next:before {
  color: black;
}

strong{
  font-size: 25px;
  font-weight: bolder;
}


#filterDisplayHeading{
display: flex;
height:20px;
justify-content: space-around;
align-items: center;
background-color: #DBDBDD;
}

table {
  margin-top: 10px;
  width:100%;
  border-collapse: collapse;
}

table img{
  width:100% !important;
aspect-ratio: 3/2;
object-fit: cover;
}

table thead th{
  padding:5px;
  background-color: #DBDBDD;
}


table th, td {
  text-align: center;
  font-size: 12px;
}


table tr td:first-child{
  width:75px;
}

tbody tr:nth-child(even){
 background-color: #F4F4F4;
}

td:nth-child(2) , td:nth-child(2) {
  color: #0AB2E6;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

td:nth-child(7)  {
  /* color: #0AB2E6;
  cursor: pointer; */
  color: #0AB2E6;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}


ul{
  padding: 0;
  margin: 0;
}
/* 
#filterDisplayData img {
   width:75px;
  object-fit: cover;

   aspect-ratio: 3/2;
   
} */

#mainDiv{
  padding: 0;
  margin:0;
}

#footer {
  width:100%;
  height:400px;
  padding: 40px;
  border: 1px solid black;
background-color: white;

  height: 300px;
  border: 0px solid red;
  margin-top: 70px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  display: flex;
  justify-content: space-evenly;
}

#footer h2 {
  font-size: 20px;
  font-weight: bold;
}

#footer a {
  text-decoration: none;
  margin: 0 !important;
  padding: 0 !important;
}




#footer p{
  margin: 5px 0;
  color: #7E868c
}


@media only screen and (min-width: 250px) and (max-width: 550px){
  #footer{
  height: auto;
  /* border: 0px solid red; */
  margin-top: 100px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  display: inline-block;
 width: auto;
 text-align: center;
 margin: auto;
 padding:70%;
}
}



/* navbar css */












body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  margin: 0%;
}
#ourlogo {
  float: left;
  width: 8.0%;
  /* border: 1px solid red; */
  height: 100px;
  margin-left: 2.5%;
position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  background-color: #317cff;
  height: 120px;
  padding-right: 1%;
}

.navbar :hover{
  cursor: pointer;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}



.navbar .icon {
  display: none;
}

.dropdown {
margin-left: 1.5%;
position: relative;
bottom: 30px;

/* float left property is acting like it is making things inline or something like that because div is block level but after
            doing float left for all dropdowns everything is becomng like inline. */
}

#dropdown1{
  float: left;
    margin-left: 1.5%;
  position: relative;
bottom: 30px;
}
.navbar>a{
  margin-bottom: 30px;
}


