
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    /* padding:0;
    margin:0; */
    font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #f8fbfe;
    padding:0;
    margin:0;
}
#navbarid{
    width:100%;
    height:80px;
    border:1px solid red;
    background-color: blue;
}

.sansfont{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center
}

.h1Size{
    font-size: 28px;
}

.h2Size{
    margin-bottom: 8px;
    margin-top: 30px;
}

.pSize{
    font-size:20px;
    margin-top: 0;
}


.slideshow_div{
height:400px;
}

.filter{
display: flex;
justify-content: space-between;
color:#ABABAB;
font-size: 13px;
}

.sort_div{
border:1px solid red;
width: 70%;
display: flex;
justify-content: space-between;
font-weight: bold;
font-size: 13px;
}


#midSection{
width:70%;
margin:auto;
padding: 0 5px;
border: 1px solid red;
}

.ulheading{
color:#6699CC;
}
.liPoints{
list-style: none;
color: #ABABAB;

}

.liPoints:hover{
    /* list-style: none; */
    color: black;
    
    }

#filterDisplayHeading{
display: flex;
height:20px;
justify-content: space-around;
align-items: center;
background-color: #DBDBDD;
}

table {
  margin-top: 10px;
  width:100%;
  border-collapse: collapse;
}

table img{
  width:100% !important;
aspect-ratio: 3/2;
object-fit: cover;
}

table thead th{
  padding:5px;
  background-color: #DBDBDD;
}


table th, td {
  text-align: center;
  font-size: 12px;
}


table tr td:first-child{
  width:75px;
}

tbody tr:nth-child(even){
 background-color: #F4F4F4;
}

td:nth-child(2) , td:nth-child(2) {
  color: #0AB2E6;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

td:nth-child(7)  {
  /* color: #0AB2E6;
  cursor: pointer; */
  color: #0AB2E6;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}


ul{
  padding: 0;
  margin: 0;
}
/* 
#filterDisplayData img {
   width:75px;
  object-fit: cover;

   aspect-ratio: 3/2;
   
} */

#mainDiv{
  padding: 0;
  margin:0;
}



/* 
#searchBar{
    width:15%;
    padding:3px;
    margin:5px;
    border-radius: 3px;
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 24%);
} */



/* @media screen and (max-width:480px) {
html{
    font-size: 45%;;
    background-color: cyan;
}
}
@media screen and (min-width:480px) and (max-width:720px) {
html{
    font-size: 55%;
    background-color: green;
}
} */










/*------------- with rem for media query to make website responsive ------------- */




/* 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


        html {
            font-size: 62.5%;
        }

        body {
            padding:0;
            margin:0;
        }
        #navbarid{
            width:100%;
            height:8.0rem;
            border:.1rem solid red;
            background-color: blue;
        }

        .sansfont{
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            text-align: center
        }
      .slideshow_div{
        height:40.0rem;
      }

      .filter{
        display: flex;
        justify-content: space-evenly;
      }

      .sort_div{
        width: 70%;
        display: flex;
        justify-content: space-between;
      }
      #midSection{
        width:80%;
        margin:auto;
        border: .1rem solid red;
      }

      .ulheading{
        color:#6699CC;
      }
      .liPoints{
        list-style: none;

      }

      #filterDisplayHeading{
        display: flex;
        height:2.0rem;
        justify-content: space-around;
        align-items: center;
        background-color: #DBDBDD;
        }

      #filterDisplayData{
        display: flex;
       
        justify-content: space-around;
        align-items: center;
      }

      .bgclrGrey{
        background-color: #F4F4F4;
      } */
     
      /* @media screen and (max-width:480px) {
        html{
            font-size: 45%;;
            background-color: cyan;
        }
      }
      @media screen and (min-width:480px) and (max-width:720px) {
        html{
            font-size: 55%;
            background-color: green;
        }
      }
 */
